/* Import font family : Open sans*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

@font-face {
  font-family: "Gara Gara";
  src: url("/fonts/Gara_Gara_Bold.otf");
}

/* Colors root*/
:root {
  --white-1: #ffffff;
  --white-2: #f9f9f9;
  --white-3: #f2f3f4;
  --white-4: #ecedee;
  --red: #e32828;
  --grey-1: #3c434b;
  --grey-2: #282a2d;
  --black: #000000;
  --footer: #101114;
}

html {
  width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

/* ------- Global Effects --------*/
.hover-effect:hover {
  opacity: 70%;
  transition: 0.4s;
}

.hover-effect:not(:hover) {
  opacity: 100%;
  transition: 0.4s;
}

.view-more-cta {
  color: var(--black);
  font-weight: 600;
}

.movie-poster-effect:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.movie-poster-effect:not(:hover) {
  transform: scale(1);
  transition: 0.3s;
}

/* ---------- homepage-welcome_attach ---------- */
#homepage-welcome_attach {
  width: 100%;
  height: 970px;
  background: white;
  background-image: linear-gradient(78deg,
      rgba(0, 0, 0, 0.9416141456582633) 32%,
      rgba(0, 0, 0, 0.6474964985994398) 74%,
      rgba(255, 255, 255, 0) 100%),
    url("img/homepage/homepage-welcome_attach.png");
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  align-items: center;
}

/* --- homepage-welcome_attach_pitch --- */
#homepage-welcome_attach_pitch {
  margin-left: 7em;
}

#homepage-welcome_attach_pitch :first-child {
  color: var(--white-1);
  font-weight: 700;
  font-size: 42px;
}

#homepage-welcome_attach_pitch :nth-child(2) {
  color: var(--white-1);

  margin: 2em 0 4em 0;
  font-size: 16px;
}

#homepage-welcome_attach_pitch :nth-child(3) {
  padding: 1em 1.5em 1em 1.5em;

  color: var(--white-1);
  text-decoration: none;

  font-weight: 700;
  font-size: 16px;

  border-radius: 2em;
  background-color: var(--red);
}

/* ---------- homepage-tending ---------- */
#homepage-tending {
  margin-top: 4em;
  margin-bottom: 5em;
}

/* --- homepage-tending_title --- */
#homepage-tending_title {
  display: flex;
  flex-direction: column;

  margin-left: 7em;
  margin-right: 7em;
}

#homepage-tending_title :first-child {
  font-size: 32px;
  font-weight: 700;
}

#homepage-tending_title :last-child {
  align-self: end;

  color: black;
  text-decoration: none;

  font-size: 20px;
  font-weight: 600;
}

#homepage-tending_title :last-child:hover {
  text-decoration: underline;
}

/* homepage-tending_carousel_item */
#homepage-tending_carousel_item {
  margin: 0.5em 0 0 7em;

  background-color: var(--white-1);
}

#homepage-tending_carousel_item div {
  display: inline-block;

  margin-right: 1.8em;
}

#homepage-tending_carousel_item div a img {
  width: 11em;
}

#homepage-tending_carousel_item div p {
  padding-top: 0.2em;

  color: var(--grey-1);
  opacity: 0.8;

  font-size: 12px;
  font-weight: 600;
}

/* homepage-tending_carousel_button_(left/right) */
#homepage-tending_carousel_button_left {
  margin-top: 6em;
  margin-left: 1.5em;

  width: 4em;
  height: 4em;

  background-color: var(--black);

  border-radius: 1em;
  box-shadow: 1px 1px 5px var(--black);
}

#homepage-tending_carousel_button_right {
  margin-top: 6em;
  margin-right: 1.5em;

  width: 4em;
  height: 4em;

  background-color: var(--black);

  border-radius: 1em;
  box-shadow: 1px 1px 5px var(--black);
}

/* A l'affiche */
.feature-movies h1 {
  border-left: 4px solid var(--red);
  padding-left: 1em;
  font-weight: 800;
  /* margin-left: 1em; */
}

.feature-movies {
  margin: 4em 0em 2em 0em;
  max-height: 80%;
}

.feature-movie-block {
  margin: 1em;
  color: var(--grey-1);
}

.feature-movies p {
  padding: 0.6em;
}

.feature-movies img {
  max-width: 100%;
}

/* ---------- homepage-event_carousel ---------- */
.c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.carousel-indicators [data-bs-target] {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

/* ---------- actualités ---------- */
.actuality {
  height: 500px;
}

.actuality-title {
  margin: 2em 0 0 2.4em;
  font-weight: 800;
  color: #000000;
  background-color: var(--white-1);
}

.actuality .actu-col-1 {
  padding: 0 2em 0 5em;
}

.actuality .actu-col-2 {
  padding: 0 5em 0 2em;
}

.actuality .actu-block {
  height: 80%;
  background-image: url("img/actu1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.actuality .actu-texts {
  background-color: var(--white-2);
  margin-bottom: 12px;
  padding: 1em;
  border-radius: 20px;
  width: 40%;
}

.actuality h3 {
  font-weight: 800;
  color: black;
}

.actuality a {
  text-decoration: none;
  padding: 0.3em 1em 0.3em 1em;
  background-color: var(--red);
  border-radius: 20px;
  color: var(--white-1);
  font-weight: 700;
}

/* ---------- info ---------- */
.info {
  height: 500px;
  background-color: var(--white-2);
}

.info .info-col-1 {
  padding: 0 2em 0 5em;
}

.info .info-col-2 {
  padding: 0 5em 0 2em;
}

.info .info-block {
  height: 80%;
  background-color: var(--white-2);
}

.info .info-texts {
  background-color: var(--white-2);
  margin-bottom: 12px;
  padding: 1em 1em 1em 6em;
  border-radius: 20px;
  width: 80%;
}

.info h3 {
  font-weight: 800;
  color: black;
  padding-bottom: 1em;
}

.info a {
  text-decoration: none;
  padding: 0.5em 1.2em 0.5em 1.2em;
  background-color: var(--red);
  border-radius: 20px;
  color: var(--white-1);
  font-weight: 700;
}

.info p {
  padding-bottom: 1em;
}

/* ---------- FAQ ------------- */
#faqtitre {
  font-size: 36px;
  color: var(--white-1);
  font-weight: 800;
  height: 50%;
}

.faq-left {
  padding-right: 2em;
  width: 30%;
  height: 250px;
  margin-top: 3em;
}

.faq-left p {
  color: #a9aaad;
}

.faq-left a {
  text-decoration: none;
  color: var(--white-1);
  background-color: #323439;
  padding: 1.2em;
  border-radius: 8px;
  font-weight: 600;
}

.faq-right {
  padding-left: 2em;
}

.faq {
  background-color: #1f2126;
  padding: 3em;
}

.faq hr {
  width: 100%;
  color: white;
}

.container-faq {
  width: 70%;
  max-width: 900px;
  min-width: 700px;
  height: auto;
}

.FluttersFAQ {
  width: 100%;
  height: auto;
  margin: 5px;
}

.visible-pannel {
  background-color: #1f2126;
  position: relative;
  z-index: 3;
  border-radius: 10px;
}

.visible-pannel h4 {
  margin: 17px 10px 17px 0px;
  padding: 15px 5px 15px 0;
  font-size: 20px;
  font-weight: 600;
  color: var(--white-1);
}

.visible-pannel img {
  margin-right: 20px;
  width: 10px;
  cursor: pointer;
}

.toggle-pannel {
  padding: 0;
  height: 0;
  opacity: 0;
}

.toggle-pannel h6 {
  font-size: 18px;
  margin: 1em 0 0 0;
  line-height: 1.5;
}

.toggle-pannel p {
  line-height: 1.5;
  color: white;
}

/* ---------- Footer ---------- */
.footer-list {
  margin-top: 1em;
  margin-bottom: 4em;
  padding: 0;

  font-size: 0.8em;
  list-style: none;
}

.footer-list li {
  margin: 0.5em 0.8em 0.5em 0em;
  color: var(--grey-1);
}

.footer-list li a {
  text-decoration: none;
  color: var(--grey-1);
}

.footer-list li a:hover {
  color: var(--white-4);
  transition: 0.2s;
}

.footer-list li a img {
  width: 2em;
  height: 2em;
}

.footer-color {
  background-color: var(--footer);
}