:root {
  --fs-1: 5rem;
  --fs-2: 4.2rem;
  --fs-3: 3rem;
  --fs-4: 2.6rem;
  --fs-5: 1.8rem;

  --fw-600: 600;
  --fw-700: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
button,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

html {
  font-family: "open-sans.css", sans-serif;

  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: grey;
  font-size: 1.6rem;
  line-height: 1.6;
}

.container {
  padding-inline: 16px;
}

.section {
  padding-block: 12rem;
}

.btnabout {
  background-color: #e32828;
  color: white;
  display: flex;
  align-items: center;
  max-width: max-content;
  gap: 12px;
  min-height: 58px;
  padding-inline: 36px;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--granite-gray);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.text-center {
  text-align: center;
}

.grid-list {
  display: grid;
  gap: 60px;
}

.has-after {
  position: relative;
  z-index: 1;
}

.has-after::after {
  content: "";
  position: absolute;
}

.has-bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about {
  background-color: #282a2d;
  color: white;
}

.about .container {
  display: grid;
  gap: 30px;
}

.about-banner {
  border-radius: 16px;
  max-width: max-content;
}

.about-banner-1 {
  border-bottom-right-radius: 120px;
}

.about .section-title {
  font-size: 4.2rem;
  color: white;
}

.about .wrapper .section-title {
  margin-block-start: 20px;
}

.about-banner-2 {
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.about-content .section-title {
  margin-block-end: 20px;
}

.about .btnabout {
  margin-block: 30px;
}

.about-banner-3 {
  border-bottom-right-radius: 100px;
}

#collection-label {
  color: black;
}

.collection .section-text {
  margin-block: 20px 60px;
}

.collection-card .card-banner {
  border-radius: 250px 250px 20px 20px;
  max-width: max-content;
  margin-inline: auto;
}

.collection-card .card-title {
  margin-block: 20px;
  color: black;
}

.collection-card .btnabout {
  margin-inline: auto;
  margin-block-start: 24px;
}

.feature {
  background-color: #282a2d;
  color: white;
}

.feature-banner {
  min-height: 520px;
}

.feature .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3c434b;
  padding: 32px;
  border-radius: 50%;
  animation: pulse 2.5s ease-out infinite;
  z-index: 1;
}

.section-title {
  font-size: 4.2rem;
  color: rgb(255, 255, 255);
}

.feature .section-text {
  color: gray;
  margin-block: 30px;
}

.feature-list-card {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-block-end: 30px;
}

.feature-list-card .card-icon {
  background-color: #e32828;
  padding: 15px;
  padding-block-start: 20px;
  flex-shrink: 0;
  border-radius: 6px;
  border-top-left-radius: 40px;
}

.feature-list-card .card-title {
  margin-block-end: 12px;
}

.testi {
  padding-block-start: 160px;
}

.testi-card {
  position: relative;
  padding-inline: 36px;
}

.testi :is(.card-text, .client-name) {
  color: black;
  font-family: Open Sans, sans-serif;
  line-height: 1.3;
}

.testi-card .card-text {
  font-size: 3rem;
  margin-block-end: 40px;
}

.testi-card .client-name {
  font-size: 1.8rem;
  font-weight: 700;
}

.gallery-card {
  height: 430px;
  padding: 20px;
  padding-block-start: 50px;
}

.gallery-card::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
  transition: 0.25s ease;
}

.gallery-card:is(:hover, :focus-within)::after {
  opacity: 0.7;
}

.gallery-card .card-content {
  display: grid;
  align-content: space-between;
  height: 100%;
}

.gallery-card .card-title {
  color: white;
}

.gallery-card .btn-link {
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
}

#blog-label {
  color: black;
}

.blog .section-text {
  margin-block: 20px 36px;
  color: black;
}

.blog .grid-list {
  gap: 30px;
}

.blog-card .card-banner {
  border-radius: 50px 50px 0 0;
}

.blog-card .img-cover {
  will-change: transform;
}

.blog-card:is(:hover, :focus-within) .img-cover {
  transform: scale(1.05) rotate(2deg);
  opacity: 0.8;
}

.blog-card .card-content {
  padding: 10px;
}

.blog-card .card-title {
  color: black;
  margin-block: 8px 20px;
}

.blog-card :is(.card-meta, .card-meta-wrapper) {
  display: flex;
  align-items: center;
}

.blog-card .card-meta {
  flex-wrap: wrap;
  column-gap: 40px;
}

.blog-card .card-meta-wrapper {
  gap: 8px;
}

.blog .btnabout {
  background-color: #e32828;
  margin-block-start: 80px;
  margin-inline: auto;
}

@media (min-width: 575px) {
  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }
}

@media (min-width: 768px) {
  :root {
    --fs-1: 6.5rem;
  }

  .container {
    max-width: 720px;
  }

  .grid-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }

  .hero .wrapper {
    grid-template-columns: 0.8fr 1fr;
    align-items: flex-end;
    column-gap: 20px;
  }

  .gallery-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer-top {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  :root {
    --fs-2: 4.8rem;
    --fs-3: 3.5rem;
  }

  .about .container {
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    gap: 50px;
  }

  .about .wrapper {
    align-self: flex-end;
    margin-inline-end: -140px;
  }

  .about-banner-1 {
    border-bottom-right-radius: 16px;
    border-top-left-radius: 120px;
  }

  .about-banner-3 {
    margin-block-start: 50px;
    margin-inline-start: -180px;
  }

  .collection .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .feature {
    display: flex;
    align-items: stretch;
  }

  .feature-banner,
  .feature-content {
    width: 50%;
  }

  .feature-banner {
    min-height: 100%;
  }

  .feature-content {
    padding-inline: 80px;
  }

  .gallery-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .gallery-card {
    height: 560px;
    padding: 60px 40px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1250px;
  }

  .hero {
    padding-block-start: 200px;
  }

  .hero .hero-banner-1 {
    margin-inline-start: -60px;
    margin-block-end: 60px;
  }

  .about .container {
    gap: 70px;
  }

  .about .wrapper .section-title {
    margin-inline-end: -80px;
  }

  .about-banner-3 {
    margin-block-start: 60px;
  }

  .testi .container {
    max-width: 680px;
  }

  .blog .grid-list {
    gap: 60px;
  }
}
