/* Import font family : Open sans*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

/* Colors root*/
:root {
  --white-1: #ffffff;
  --white-2: #f9f9f9;
  --white-3: #f2f3f4;
  --white-4: #ecedee;
  --red: #e32828;
  --grey-1: #3c434b;
  --grey-2: #282a2d;
  --black: #000000;
  --footer: #101114;
}

#event_body {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 1) 20%
    ),
    url("event_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: light-grey; */
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  height: 1000px;
}

#event_main {
  background-color: white;
  width: 100%;
  padding: 4em 2em 4em 4em;

  margin-right: auto;
  margin-left: auto;
}

#event_h2 {
  color: white;
  font-size: 2.75em;
  text-align: center;
  font-weight: 700;
  margin: 4em 0 1em 0;
}

.event_h3 {
  font-size: 2.5em;
  font-weight: 700;

  margin-bottom: 1em;
  margin-left: 0.8em;
  text-align: start !important;
}

#event_img {
  width: 12em;
  height: 17em;
}

.event_a {
  display: inline-block;
  width: 15em;
  height: 18em;
  text-decoration: none;
  margin: 0 0.5em 2.5em 0.5em;

  text-align: center;
}

.event_a:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.event_a:hover > .titles {
  transform: scale(1.15);
  position: relative;
  top: 3px;
  transition: 0.3s;
  color: black;
}

.event_a:not(:hover) {
  transform: scale(1);
  transition: 0.3s;
}

.event_a:not(:hover) > .titles {
  transform: scale(1);
  transition: 0.3s;
}

.titles {
  color: grey;
  font-weight: 600;
  text-decoration: none;
  font-size: 12px;
}

@media screen and (max-width: 1111px) {
  .event_a {
    width: 13em;
  }

  #event_main {
    padding: 3em 0em 4em 3em;
  }
  #event_h2 {
    margin-top: 6em;
  }
  .event_h3 {
    margin-left: 0.4em;
    margin-top: 0.5em;
  }
}

@media screen and (max-width: 740px) {
  #event_main {
    text-align: center;
  }
  #event_main {
    padding: 3em 0em 4em 0em;
  }
  .event_h3 {
    margin-left: 10%;
  }
  #event_img {
    height: 18em;
  }
}

@media screen and (max-width: 480px) {
  .event_a {
    width: 12em;
    height: 100%;
  }
  #event_img {
    width: 100%;
  }
  #event_h2 {
    font-size: 1.5em;
  }
  .event_h3 {
    font-size: 1.3em;
    margin-left: 8%;
    margin-bottom: 2em;
  }
  #events_searchbar {
    padding-right: 0.5em !important;
  }
}

#event_divider {
  width: 90%;
  margin-top: 3em;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid lightgrey;
}

/* events_searchbar */

#events_searchbar {
  padding-right: 3em;
  margin-bottom: 3em;

  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#events_searchbar input {
  padding-left: 0.5em;
  width: 50%;
  height: 3.3em;
  border: none;

  border-top: 3px solid darkgrey !important;
  border-bottom: 3px solid darkgrey !important;
  border-left: 3px solid darkgrey !important;

  transition: 0.2s;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#events_searchbar input:focus {
  border-top: 3px solid var(--red) !important;
  border-bottom: 3px solid var(--red) !important;
  border-left: 3px solid var(--red) !important;

  transition: 0.2s;
}

#event_search:focus + #b {
  background-color: var(--red);
  transition: 0.2s;
}

#b:hover #event_search {
  border-top: 3px solid var(--red) !important;
  border-bottom: 3px solid var(--red) !important;
  border-left: 3px solid var(--red) !important;

  transition: 0.2s;
}

#events_searchbar input:focus-visible {
  outline: none;
}

#events_searchbar input::placeholder {
  color: darkgrey;
}

#events_searchbar button {
  background-color: darkgrey;
  color: white;

  height: 3.3em;
  width: 7.5em;

  font-weight: 600;
  border: none;

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  transition: 0.2s;
}

#events_searchbar button:hover {
  scale: 1.01;
  transition: 0.2s;
}
