@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

#bobo_about {
  font: normal 16px/1.5 "Inter", sans-serif;
  color: black;
  margin-bottom: 50px;
  background-color: white;
}

/*Section About*/

.flutters_about {
  font-family: "Open Sans", sans-serif;
  margin: 2.3em;
  margin-top: 2em;
  margin-bottom: 20px;
  padding-left: 25px;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  border-left: 4px solid #ff0000;
  display: flex;
  align-items: center;
  color: #000000;
}

.section_about {
  padding: 50px 0;
}

.section_about h1 {
  font-size: 2.5rem;
  line-height: 1.25;
}

.section_about h2 {
  font-size: 1.3rem;
}

/*Timeline*/

.timeline {
  position: relative;
  white-space: nowrap;
  max-width: 1400px;
  padding: 0 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 320px auto;
  grid-gap: 20px;
}

.timeline::before,
.timeline::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 30px;
  width: 100px;
  z-index: 2;
}

.timeline::after {
  right: 0;
}

.timeline::before {
  left: 340px;
}

.timeline .info_about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px;
  color: black;
  background-color: #e32828;
  white-space: normal;
  border-radius: 10px;
}

.timeline .info_about img {
  margin-bottom: 20px;
}

.timeline .info_about p {
  margin-top: 10px;
  color: white;
}

.timeline .info_about a {
  text-decoration: none;
}

.timeline ol::-webkit-scrollbar {
  height: 12px;
}

.timeline ol::-webkit-scrollbar-thumb,
.timeline ol::-webkit-scrollbar-track {
  border-radius: 92px;
}

.timeline ol::-webkit-scrollbar-thumb {
  background-color: #e32828;
}

.timeline ol::-webkit-scrollbar-track {
  background: black;
}

.timeline ol {
  font-size: 0;
  padding: 250px 0;
  transition: all 1s;
  overflow-x: scroll;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 5px;
  background-color: rgb(0, 0, 0);
  scroll-snap-align: start;
}

.timeline ol li:last-child {
  width: 340px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #e32828;
  z-index: 1;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: rgb(255, 255, 255);
  background-color: #3c434b;
  border-radius: 0 10px 10px 10px;
}

.timeline ol li div::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  background-color: rgb(255, 255, 255);
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
  border-radius: 10px 10px 10px 0;
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: #3c434b transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent #3c434b;
}

.timeline time {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #e32828;
}

/*media*/

@media screen and (max-width: 800px) {
  .timeline {
    display: block;
  }

  .timeline::before,
  .timeline::after {
    width: 50px;
  }

  .timeline::before {
    left: 0;
  }

  .timeline .info_about {
    display: none;
  }
}

/*Directeurs*/

.directeurs_about {
  font-family: "Open Sans", sans-serif;
  margin: 2.3em;
  margin-top: 4em;
  margin-bottom: 20px;
  padding-left: 25px;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  border-left: 4px solid #ff0000;
  display: flex;
  align-items: center;
  color: #000000;
}

.container_allcard {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container_allcard .card_directeurs {
  width: 250px;
  height: 350px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.2);
  margin: 30px;
}
.card_directeurs::after {
  content: " ";
  width: 100%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e32828;
}
.card_directeurs img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: fit;
  transition: 0.6s;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.37);
  z-index: 99;
}
.card_directeurs:hover img {
  transform: scale(0.5) translateY(-120px);
  border-radius: 10px;
}
.card_directeurs .details_directeurs {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 40px;
  transform: translateY(100%);
  transition: 0.6s;
}
.card_directeurs:hover .details_directeurs {
  transform: translateY(0);
}
.details_directeurs h3 {
  font-size: 22px;
  color: rgb(0, 0, 0);
}
.details_directeurs p {
  font-size: 15px;
  color: #333;
  margin-bottom: 7px;
}
.details_directeurs .social-links_directeurs {
  display: flex;
}
.details_directeurs .social-links_directeurs a {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 50%;
  color: white;
  background-color: #e32828;
  text-decoration: none;
  transition: 0.6s;
  display: grid;
  place-items: center;
  font-size: 17px;
}
.details_directeurs .social-links_directeurs a:hover {
  transform: rotate(360deg);
  background-color: rgb(255, 255, 255);
  color: #e32828;
}

/*presentation*/

.presentation_about {
  font-family: "Open Sans", sans-serif;
  margin: 2.3em;
  margin-top: 4em;
  margin-bottom: 20px;
  padding-left: 25px;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  border-left: 4px solid #ff0000;
  display: flex;
  align-items: center;
  color: #000000;
}

/*presentation*/

* {
  box-sizing: border-box;
}

#about_history {
  background: #eee;
  padding: 0 100px;
  line-height: 1.45;
}

.card_history {
  margin-top: 40px;
  margin-bottom: 100px;
  border-radius: 5px;
  padding: 40px;
  background: #fff;
  position: relative;
  min-height: 450px;
  background: #070707;
  color: white;
  transition: 0.3s transform linear;
}

.card_history:hover {
  transform: scale(1.01);
}

#title_history {
  color: #e32828;
  font-size: 46px;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.3;
}

#title2_history {
  line-height: 1.2;
  color: #555;
  font-size: 30px;
  margin-top: 0;
  padding-top: 0;
}

.card_history {
  position: relative;
  padding-top: 280px;
}

.card_history:hover {
  transform: scale(1);
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

summary {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 40px;
  padding-top: 160px;
}

#text_history {
  max-width: 450px;
  font-size: 17px;
  line-height: 1.4;
  color: #eee;
}

.card_history p {
  animation: none;
  padding-top: 0;
}

.card_history p {
  animation: appear 0.5s linear forwards;
}

@keyframes appear {
  0% {
    transform: translate(0, 50px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.crop {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  width: 40%;
  overflow: hidden;
  object-fit: cover;
  height: 100%;
  object-position: 30% 50%;
  border-radius: 5px;
}

.crop img {
  width: 400px;
  margin-top: 2.5rem;
  object-position: +10px 20px;
}
