/* Import font family : Open sans*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

/* Colors root*/
:root {
  --white-1: #ffffff;
  --white-2: #f9f9f9;
  --white-3: #f2f3f4;
  --white-4: #ecedee;
  --red: #e32828;
  --grey-1: #3c434b;
  --grey-2: #282a2d;
  --black: #000000;
  --footer: #101114;
}

#film_body {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 1) 20%
    ),
    url("../profile/profile_background.png");
  /* background-color: light-grey; */
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  height: 1000px;
}

#film_main {
  background-color: white;
  width: 100%;
  padding: 4em 2em 4em 2em;

  display: flex;
  flex-wrap: wrap;

  margin-right: auto;
  margin-left: auto;

  justify-content: space-around;
}

#film_h2 {
  color: white;
  font-size: 2.75em;
  text-align: center;
  font-weight: 700;
  margin: 4em 0 1em 0;
}

#film_img {
  width: 12em;
}

.film_a {
  display: block;
  width: 12em;
  height: 20em;
  text-decoration: none;
  margin-right: 1em;
}

.titles {
  color: grey;
  font-weight: 600;
  text-decoration: none;
  font-size: 12px;
}
